<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <form
            th:action="@{/reservation/cancel}"
            method="post"
            style="max-width: 700px; margin: 0 auto">
        <div class="border border-secondary rounded p-4">
            <p class="text-md-center">
                Cancel Reservation
            </p>
            <input type="hidden" th:field="${id}"/>
            <div class="form-group row mb-2">
                <label class="col-sm-4 col-form-label" for="id">PNR</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" th:field="${name}" id="id" required/>
                </div>
            </div>
            <input type="submit" value="Cancel" class="mt-2 btn btn-primary">
        </div>
    </form>
</div>
</body>
</html>