<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Reservation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <form 
    	th:action="@{/reservation/save}" 
    	th:object="${reservation}"
    	method="post"
    	style="max-width: 700px; margin: 0 auto">
        <div class="border border-secondary rounded p-4">
            <p>
            	Add Reservation	
            </p>
			<input type="hidden" th:field="*{id}"/>
            <div class="form-group row">
            	<label class="col-sm-4 col-form-label" for="name">Name</label>
            	<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{name}" minlength="8" required/>
            	</div>
            </div>
            
            <div class="form-group row">
            	<label class="col-sm-4 col-form-label" for="name">Age</label>
            	<div class="col-sm-8">
					<input type="number" class="form-control" th:field="*{age}" required/>
            	</div>
            </div>

          	<div class="form-group row">
            	<label class="col-sm-4 col-form-label" for="journeyDate">Journey Date</label>
            	<div class="col-sm-8">
				   <input type="date" class="form-control" th:field="*{journeyDate}" 
				   th:value="${#temporals.format(journeyDate, 'yyyy-MM-dd')}"></input> 
            	</div>
          	</div> 
            <div class="form-group row">
            	<label class="col-sm-4 col-form-label" for="classType">Class Type</label>
            	<div class="col-sm-8">
				   <select class="form-select" th:field="*{classType}">
					  <option th:each="ct : ${classTypes}"
					  th:value="${ct}">[[${ct.description}]]</option>
					</select> 
            	</div>
            </div>
            
			
           	<input type="submit" value="Add" class="mt-2 btn btn-primary">
        </div>
    </form>
</div>
</body>
</html>